*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: skyblue;
    
}

.form-registro{
    width: 400px;
    background-color: teal;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}


.form-registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controles {
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-bottom: 16px;
    font-size: 18px;
}

.form-registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-registro a:hover {
    color: white;
    text-decoration: underline;
}

.form-registro .boton {
    width: 100%;
    background-color: dodgerblue;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.form-registro p{
    height: 30px;
    text-align: right;
    
}
#seccion2{
    display:none;
}




